html { scroll-snap-type: y mandatory; scroll-padding-top: 80px;}

main > section {  scroll-snap-align: start;}
.section_button { position: fixed; right: 20px; top: 50%; width: 20px; z-index: 2000;}
.section_button li{ text-align: center;}
.section_button li a{font-size: 1px; color: #4A4546; border: 1px solid #4A4546; border-radius: 50%; width: 8px; height: 8px; display: inline-block; background: #4A4546; }

.carousel{height:600px;overflow:hidden;}
.carousel img{ height: 600px; object-fit: cover;}

main > .information { position: relative; background: #7AB5B2;}
main > .information img {width: 100%;}
main > .information h3 { font-size: 30px; color: white; position: absolute; left: calc(50% - 600px); top: 20%; }
main > .information p{ font-size: 17px; color: white; padding: 30px calc(50% - 600px);}

main > .solution{ position: relative; height: 600px; background: #EEFCFB;}

.service h3, .solution h3, .partners h3{ width: 1200px; margin:auto; font-size: 30px; text-align: center; padding: 48px 0  50px 0;}

main .solution ul{width: 1200px; margin: auto; display: flex; justify-content: space-around;}
main .solution ul li{ width: 450px; height: 230px; background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/img/img1.png) center/cover no-repeat;position: relative;}
main .solution ul li:hover{transform: translate(0, -8%); transition-duration: 0.3s;}
main .solution ul li > h5 {width:calc(100% - 40px);  font-weight: 600; color: white; position: absolute; bottom: 0; margin: 20px;}
main .solution ul li > h5 i{ position: absolute; font-size: 18px; right: 0; bottom: 0; }
main .solution ul li article{ display: none;}
main .solution ul li:hover article{ cursor: pointer; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 15px; padding: 20px; text-align: center; width: 100%; height: 100%; border: 1px solid #21409A; background: white; position: absolute; top:0; left: 0;}
main .solution ul li article h5{font-weight: 600;}
main .solution ul li article a { border: 1px solid #21409A; display: block; width: 58px; height: 28px; line-height : 26px; font-weight: 600; font-size: 19px;}

main > .service {height: 600px; width: 100%; }
main > .service ul{ width: 1200px; margin: auto; display: flex; justify-content: space-between;}
main > .service ul li { display: flex; flex-direction: column; gap: 15px; align-items: center; width:19%; height: 200px; position: relative; text-align: center;}
main > .service ul li:hover a, main > .service ul li:hover a:hover{ display: block;  color: white; cursor: pointer; z-index: 100; width: 200px; height: 200px; position: absolute; opacity: 0.7; border-radius: 100px; line-height: 200px; text-align: center; background: #464555; font-weight: 600; font-size: 25px; }
main > .service ul li a{border-radius: 100px; display: none; color: white; }
main > .service ul li i{ z-index: 50;width: 200px;height: 200px; border-radius: 100px; line-height: 200px; background: #DDEEED; font-size: 90px; color: #005D7D;}
main > .service ul li p{ height: 65px; vertical-align: middle;}

main > .partners { width: 100%; height: 400px; background: #F1F1E6; margin: 0 auto 0 auto; position: relative; }
main > .partners ul { width: 1100px; margin: auto; display: flex;flex-wrap: wrap; justify-content: center; }
main > .partners > ul li { width: 18%; line-height: 50px; }
main > .partners > ul li > a { display: block; text-align: center; margin-bottom: 20px;}
main > .partners img { vertical-align: middle; border: 1px solid #DAE8E7; }

